{% extends _layout %}

{% block def_title 'About this Project' %}

{% block frag_content %}
    <h2>Key Subjects</h2>

    <div class="list-group">
        <a class="list-group-item" href="#">
            <i class="fa fa-sitemap fa-fw"></i>
            deployment
        </a>
        <a class="list-group-item" href="#">
            <i class="fa fa-leaf fa-fw"></i>
            release
        </a>
        <a class="list-group-item" href="#">
            <i class="fa fa-archive fa-fw"></i>
            stemcell
        </a>
        <a class="list-group-item" href="#">
            <i class="fa fa-user fa-fw"></i>
            user
        </a>
        <a class="list-group-item" href="#">
            <i class="fa fa-check-square-o fa-fw"></i>
            task
        </a>
        <a class="list-group-item" href="#">
            <i class="fa fa-map-signs fa-fw"></i>
            hub
        </a>
    </div>
{% endblock %}

{% block frag_sidebar %}
    <div class="list-group">
        <a class="list-group-item" href="https://github.com/dpb587/bosh-veneer-release" target="_blank">
            <i class="fa fa-github fa-fw"></i>
            GitHub
        </a>
    </div>
{% endblock %}
