{% extends _layout %}

{% block def_title veneer_bosh_director_name %}

{% block frag_content %}
    <p>
        The following components are installed and configured. Please pick one to get started&hellip;
    </p>

    <div class="list-group">
        {% for bundle in veneer_bosh_plugin_factory.bundles %}
            <a class="list-group-item"{% if bundle.veneerRoute %} href="{{ path(bundle.veneerRoute) }}"{% endif %}>
                {{ bundle.veneerTitle }}
                {% if bundle.veneerDescription %}
                    <span class="text-muted">&mdash; {{ bundle.veneerDescription }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        <strong>veneer</strong> (noun) &ndash;
        a thin decorative covering of [UX and tools] applied to a coarser [BOSH environment].
    </p>
{% endblock %}
