{% extends _layout %}

{% block def_title 'Welcome to BOSH Veneer' %}

{% block frag_content %}
    <p>
        The following features are installed&hellip;
    </p>

    <div class="list-group">
        {% for bundle in veneer_bosh_plugin_factory.bundles %}
            <a class="list-group-item"{% if bundle.veneerRoute %} href="{{ path(bundle.veneerRoute) }}"{% endif %}>
                {{ bundle.veneerTitle }}
                {% if bundle.veneerDescription %}
                    <span class="text-muted">&mdash; {{ bundle.veneerDescription }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block frag_sidebar %}
    <p>
        <strong>User</strong><br />
        {{ app.security.token.username }}
    </p>
{% endblock %}
