{% extends _layout %}

{% block def_title 'Welcome' %}

{% block frag_content %}
    Something useful should go here...
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        A frontend to centrally manage and monitor your BOSH-centric environment.
    </p>
{% endblock %}
