{% extends _layout %}

{% block def_title _veneer_bosh_context.stemcell.name ~ '/' ~ _veneer_bosh_context.version.version %}

{% block frag_content %}
  {{ render(_links.widget.upload.url|veneer_core_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
    <dl>
        {% if data.detailUrl %}
            <dt>Details</dt>
            <dd><a href="{{ data.detailUrl }}">External Site</a></dd>
        {% endif %}

        {% if data.tarballUrl %}
            <dt>Tarball</dt>
            <dd><a href="{{ data.tarballUrl }}">Tarball File</a></dd>
            {% if data.tarballSize %}
                <dd>{{ data.tarballSize|byte_format }}</dd>
            {% endif %}
        {% endif %}
    </dl>
{% endblock %}
