{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title 'Host Network Stats' %}

{% block frag_content %}  
    <div id="highcharts" style="height:240px;"></div>
{% endblock %}

{% block javascripts %}
    function bytesLabel(value) {
        var label = 'B';

        if (value >= 1024) {
            value /= 1024;
            label = 'KB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'MB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'GB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'TB';
        }

        if (value >= 1024) {
            value /= 1024;
            label = 'PB';
        }

        return (Math.ceil(value * 10) / 10) + ' ' + label;
    }

    $('#highcharts').highcharts({
        credits: {
            enabled: false
        },
        chart: {
            type: 'spline'
        },
        title: {
            text: null
        },
        yAxis: {
            labels: {
                formatter: function () {
                    return bytesLabel(Math.abs(this.value));
                }
            },
            title: {
                text: null
            }
        },
        plotOptions: {
            spline: {
                animation: false,
                marker: {
                    radius: 2,
                    symbol: 'circle'
                }
            }
        },
        tooltip: {
            shared: true
        },
        xAxis: {
            type: 'datetime'
        },
        series: [
            {
                color: '#3D6CAD',
                data: {{ series.octets_rx|json_encode|raw }},
                name: 'RX'
            },
            {
                color: '#D67E41',
                data: {{ series.octets_tx|json_encode|raw }}.map(function (v) {
                    v['y'] *= -1;

                    return v;
                }),
                name: 'TX'
            }
        ]
    });
{% endblock %}
