{% extends _layout %}

{% block def_title 'Cloud Properties' %}

{% block frag_content %}
  {% if 0 < properties|length %}
    <dl class="dl-horizontal">
      {% if properties.subnet is defined %}
        <dt>Subnet</dt>
        <dd>{{ properties.subnet }}</dd>
      {% endif %}

      {% if properties.security_groups is defined %}
        <dt>Security Groups</dt>
        {% for security_group in properties.security_groups %}
          <dd>{{ security_group }}</dd>
        {% endfor %}
      {% endif %}
    </dl>
  {% else %}
    <p class="text-muted">No properties configured.</p>
  {% endif %}
{% endblock %}
