{% extends _layout %}

{% block def_title 'Releases' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Release</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td><a href="{{ path('bosh_core_release_summary', { 'release' : result.name }) }}">{{ result.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block frag_sidebar %}
    <p class="text-muted">
        A collection of configuration files, job definitions, source code, package definitions and accompanying
        information needed to make a software component deployable by BOSH. A self-contained release should have no
        dependencies that need to be fetched from the internet.
        &mdash; <a href="http://bosh.io/docs/terminology.html#release">bosh.io</a>
    </p>

    {% include 'BoshWebBundle:Common:referencelinks.html.twig' with { 'references' : references, 'divider' : true } only %}
{% endblock %}
