{% extends 'VeneerOpsBundle:WorkspaceAppCloudConfig:layout.html.twig' %}

{% block frag_content %}
    <h3>{{ title }}</h3>

    <form action="{{ def_nav[-1].url }}" method="post">
        {{ form_rest(form) }}

        <div>
            <button class="btn btn-success" type="submit">Save Changes</button>
            &nbsp;
            <a class="btn btn-warning-outline btn-sm" href="{{ def_nav[-2].url }}">cancel</a>
        </div>
    </form>
{% endblock %}
