{% extends _layout %}

{% block def_title 'Properties' %}

{% block frag_content %}
    <pre>{{ yaml }}</pre>
{% endblock %}

{% block frag_sidebar %}
    <p>
        These are all properties documented by the templates in this release. Before using, be sure to replace all of
        the <code>@todo</code> values which must be configured.
    </p>
{% endblock %}
