{% extends _layout %}

{% block def_title 'Process Status' %}

{% block frag_content %}  
    <table class="table">
        <thead>
            <tr>
                <th>Process</th>
                <th width="60%">Jobs</th>
            </tr>
        </thead>
        <tbody>
            {% for process_name, jobs in processes %}
                <tr{% if not jobs.healthy %} class="warning"{% endif %}>
                    <td>{{ process_name }}</td>
                    <td width="60%">
                        {% for job_name, job_check in jobs.jobs %}
                            {% spaceless %}
                                <a href="{{ path('bosh_core_deployment_instance_summary', { 'deployment' : _bosh_core_context.deployment.name, 'job_name': job_name|split('/')[0], 'job_index': job_name|split('/')[1] }) }}" title="{{ job_name }} @ {{ job_check.timestamp }}">
                                    {% if 0 == job_check.status %}
                                        <span class="text-success"><span class="glyphicon glyphicon-ok"></span></span>
                                    {% else %}
                                        <span class="text-danger"><span class="glyphicon glyphicon-remove"></span></span>
                                    {% endif %}
                                </a>
                            {% endspaceless %}
                            &nbsp;
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
