{% extends _layout %}

{% block def_title _veneer_bosh_context.deployment.name %}

{% block frag_content %}
    {#{{ render(_links.widget.logsearch_monitstatus.url|veneer_core_appendqs({ '_frag' : 'content' })) }}#}
    {{ render(_links.widget.jobALL.url|veneer_core_appendqs({ '_frag' : 'content' })) }}
    {{ render(_links.widget.releases.url|veneer_core_appendqs({ '_frag' : 'content' })) }}
{% endblock %}

{% block frag_sidebar %}
    <ul class="list-unstyled">
        <li><a href="{{ _links.widget.manifest.url }}">Manifest</a></li>
    </ul>
    
    {% include 'VeneerCoreBundle:Common:referencelinks.html.twig' with { '_links' : _links, 'divider' : true } only %}
{% endblock %}
