{% extends _layout %}

{% block def_title 'Stemcells from ' ~ _veneer_bosh_context.marketplace.title %}

{% block frag_content %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Stemcell</th>
                <th class="text-center">Uploaded</th>
                <th class="text-right">Versions</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td><a href="{{ path('veneer_marketplace_marketplace_stemcell_summary', { 'marketplace' : _veneer_bosh_context.marketplace.name, 'stemcell' : result.name }) }}">{{ result.name }}</a></td>
                    <td class="text-center">
                        {% if result.name in uploaded_locally %}
                            <a href="{{ path('veneer_bosh_stemcell_summary', { 'stemcell' : result.name }) }}">
                                <i class="fa fa-check fa-fw"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ result.version_count|number_format }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
