{% extends _layout %}

{% block def_title 'CloudFormation Template Editor' %}

{% block frag_sidebar %}
    <ul class="list-unstyled">
        <li><small><a class="text-muted" href="{{ path('veneer_core_workspace_env_view', { 'path' : path }) }}"><i class="fa fa-dot-circle-o fa-fw"></i> environment</a></small></li>
        <li><small><a class="text-muted" href="{{ path('veneer_core_storage_blob', { 'path' : path }) }}"><i class="fa fa-code fa-fw"></i> {{ path }}</a></small></li>
    </ul>
{% endblock %}
