{% extends _layout %}

{% block def_title 'Releases' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Release</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td><a href="{{ path('bosh_core_release_version_summary', { 'release' : result.release.name, 'version' : result.version }) }}">{{ result.release.name }}<span class="text-muted">/{{ result.version }}</span></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
