{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title 'Stemcells' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Stemcell</th>
      </tr>
    </thead>
    <tbody>
      {% for result in data.results %}
        <tr>
          <td><a href="{{ path('bosh_core_stemcell_summary', { 'stemcell' : result.name, 'version' : result.version }) }}">{{ result.name }}/{{ result.version }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
