{% extends 'BoshCoreBundle:Release:layout.html.twig' %}

{% block def_title 'Deployments' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Deployment</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td><a href="{{ path('bosh_core_deployment_summary', { 'deployment' : result.name }) }}">{{ result.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
