{% extends _layout %}

{% block def_title 'Packages' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Package</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td><a href="{{ path('bosh_core_release_package_summary', { 'release' : _bosh_core_context.release.name, 'package' : result.name, 'version' : result.version }) }}">{{ result.name }}<span class="text-muted">/{{ result.version }}</span></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
