{% extends _layout %}

{% block def_title 'Repository' %}

{% block frag_content %}
    <div class="list-group">
        {% for child in children %}
            <a class="list-group-item" href="{{ path('veneer_core_workspace_repo_tree_index', { 'ref' : ref, 'path' : path ~ '/' ~ child }) }}">
                <i class="fa fa-folder fa-fw"></i>
                {{ child }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block frag_sidebar %}
    <div class="list-group">
        n/a
    </div>
{% endblock %}
