{% if _links %}
    <div class="list-group">
        {% for topic_name, topic in {
            'config': {
                title: 'Configuration',
                fontawesome: 'cog',
            },
            'resources': {
                title: 'Resources',
                fontawesome: 'hdd',
            },
            'performance': {
                title: 'Performance',
                fontawesome: 'dashboard',
            },
            'cpi': {
                title: 'CPI',
                fontawesome: 'cloud',
            },
            'documentation': {
                title: 'Documentation',
                fontawesome: 'info-circle',
            },
            'other': {
                title: 'Useful Links',
                fontawesome: 'link',
            },
        } if _links[topic_name] is defined %}
            {% for link in _links[topic_name] %}
                <a class="list-group-item" href="{{ link.url }}"{% if '://' in link.url %} target="_blank"{% endif %}{% if link.note|default %} title="{{ link.note }}"{% endif %}>
                    <i class="fa fa-{{ topic.fontawesome }} fa-fw"></i>
                    {{ link.title }}
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}