{% extends 'BoshCoreBundle:Deployment:layout.html.twig' %}

{% block def_title 'Instances' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Instance</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
            <td><a href="{{ path('bosh_core_deployment_instance_summary', { 'deployment' : _bosh_core_context.deployment.name, 'job_name' : result.job, 'job_index' : result.index }) }}">{{ result.job }}<span class="text-muted">/{{ result.index }}</span></a></td>
          <td>{{ result.state }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
