{% extends _layout %}

{% block def_title 'Repository' %}

{% block frag_content %}
    <pre><code>{{ data }}</code></pre>
{% endblock %}

{% block frag_sidebar %}
    <div class="list-group">
        n/a
    </div>
{% endblock %}
