{% extends _layout %}

{% block def_title 'Repository' %}

{% block frag_content %}
    <pre><code>{{ data }}</code></pre>
{% endblock %}

{% block frag_sidebar %}
    <dl>
        {% if workspace_app %}
            <dt>Application</dt>
            <dd><a href="{{ path(workspace_app.appRoute, { 'path' : path }) }}">{{ workspace_app.appTitle }}</a></dd>
        {% endif %}
    </dl>
{% endblock %}
