{% extends _layout %}

{% block def_title 'Versions' %}

{% block frag_content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Version</th>
        <th class="text-center">Uploaded</th>
        <th class="text-right">Size</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td><a href="{{ path('veneer_marketplace_marketplace_release_version_summary', { 'marketplace' : _veneer_bosh_context.marketplace.name, 'release' : result.release, 'version' : result.version }) }}">{{ result.version }}</a></td>
          <td class="text-center">
                    {% if result.version in installed_locally %}
                        <a href="{{ path('veneer_bosh_release_version_summary', { 'release' : result.release, 'version' : result.version }) }}">
                            <i class="fa fa-check fa-fw"></i>
                        </a>
                    {% endif %}
          </td>
          <td class="text-right">
              {% if result.tarballSize %}
                  {{ result.tarballSize|byte_format }}
                {% else %}
                    <span class="text-muted">&ndash;</span>
                {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
